*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.tar
target/
!.gitignore
.gradle/
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db
.idea/
*.iml
*.ipr
*.iws
nbproject/
*.orig
*.rej
*.bak
*.~
*~
\#*\#
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.dylib
*.dll
*.exe
*.out
*.obj
*.a
*.o
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.tar
dist/
build/
.deps/
.libs/
*.egg-info/
*.egg
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js
coverage/
.nyc_output/
.nycrc
.coverage
htmlcov/
.pytest_cache/
.tox/
nox/
.hypothesis/
.venv/
venv/
env/
ENV/
.ENV
pip-log.txt
pip-delete-this-directory.txt
*.pot
*.po
*.mo
.ruby-version
.bundle/
.plt
.plb
.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.Rproj
.sass-cache/
*.css.map
*.js.map
.npm
node_modules/
jspm_packages/
jspm.config.js
config.rb
Gemfile.lock
vendor/bundle/
vendor/cache/
vendor/gems/
vendor/ruby/
Pods/
*.xcworkspace
xcuserdata/
*.pbxuser
*.perspective
*.perspective.vcproj
*.mode1v3
*.mode2v3
*.perspective
*.perspective
xcuserdata/
*.moved-aside
*.xccheckout
*.pbxuser
*.perspective
*.perspective.vcproj
*.mode1v3
*.mode2v3
*.perspective
*.perspective
xcuserdata/
*.moved-aside
*.xccheckout
*.pbxuser
*.perspective
*.perspective.vcproj
*.mode1v3
*.mode2v3
*.perspective
*.perspective
xcuserdata/
*.moved-aside
*.xccheckout
*.swiftpm
build/
*.app
*.ipa
*.dmg
*.pkg
*.mpkg
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.sublime-workspace
*.sublime-project
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
.svn/
CVS/
CVSROOT/
*.svn
*.git
*.hg
*.bzr
*.darcs
*.fslckout
_FOSSIL_
.fossil-settings/
.gitattributes
.gitignore
.gitmodules
.git/info/exclude
.deps/
.libs/
*.la
*.lo
*.o
*.obj
*.a
*.lib
*.so
*.so.*
*.dll
*.dylib
*.exe
*.out
*.app
*.bin
*.elf
*.ilk
*.map
*.pdb
*.profdata
*.gcda
*.gcno
*.gcov
*.lcov
*.lst
*.su
*.suc
*. dependence
*.d
*.pyc
*.pyo
*.pyd
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.gem
.bundle/
vendor/bundle/
*.rbc
*.rbo
*.run
*.rbx
*.rbi
*.rake
*.cap
*.pry
*.pry_history
*.reek
*.ruby-lint
*~*
*.irb_history
*.gemfile.lock
*.lock
*.lock-wscript
*.lockstep
*.godeps
*.dll
*.so
*.so.*
*.dylib
*.dll.a
*.lib
*.a
*.o
*.obj
*.exe
*.out
*.pyc
*.pyo
*.pyd
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.tar
*.rar
*.7z
*.bz2
*.xz
*.lz4
*.lzh
*.cab
*.arj
*.rpm
*.deb
*.Z
*.lz
*.lzo
*.tar.bz2
*.tar.xz
*.tar.zst
*.gz
*.tgz
*.taz
*.tbz
*.tbz2
*.tz
*.txz
*.tlz
*.tzst
*.zipx
*.zst
*.lzma
*.lzo
*.rz
*.sfark
*.shn
*.wim
*.xar
*.dmg
*.iso
*.img
*.msi
*.msp
*.mst
*.nupkg
*.snupkg
*.vsix
*.appx
*.appxbundle
*.msix
*.msixbundle
*.apk
*.aab
*.apks
*.xapk
*.apkm
*.obb
*.jar.pack
*.pack
*.idx
*.dat
*.bin
*.hex
*.out
*.lst
*.map
*.sym
*.dbg
*.debug
*.pdb
*.idb
*.ncb
*.sdf
*.suo
*.db
*.db-shm
*.db-wal
*.log
*.tmp
*.temp
*.bak
*.backup
*.old
*.orig
*.save
*.swp
*.swo
*.un~
*.~lock
*.lock
*.cache
*.cached
*.caches
*.metadata
*.metadata_never_index
*.DS_Store
*.DS_Store?
*.Spotlight-V100
*.Trashes
*.TemporaryItems
*.apdisk
*.lsprof
*.prof
*.pstats
*.pyprof
*.coverage
*.gcov
*.lcov
*.lst
*.su
*.suc
*.gcda
*.gcno
*.profraw
*.profdata
*.dynstr
*.dynsym
*.strtab
*.symtab
*.note.gnu.build-id
*.note.android.ident
*.dwo
*.dwp
*.dwz
*.gch
*.pch
*.ali
*.a_mcx
*.cmxs
*.cma
*.cmo
*.cmx
*.cmxa
*.cmi
*.cmt
*.cmti
*.annot
*.spill
*.merlin
*.hi
*.p_o
*.p_r_o
*.chs
*.chi
*.chm
*.hcr
*.dyn_o
*.dyn_hi
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.cbl
*.cbx
*.cbt
*.cbu
*.cbv
*.cbw
*.cbz
*.cb7
*.cbt
*.cbtc
*.cbtd
*.cbte
*.cbtf
*.cbtg
*.cbth
*.cbti
*.cbtj
*.cbtk
*.cbtl
*.cbtm
*.cbtn
*.cbto
*.cbtp
*.cbtq
*.cbtr
*.cbts
*.cbtt
*.cbtu
*.cbtv
*.cbtw
*.cbtx
*.cbtn
*.cbto
*.cbtp
*.cbtq
*.cbtr
*.cbts
*.cbtt
*.cbtu
*.cbtv
*.cbtw
*.cbtx
*.cbtn
*.cbto
*.cbtp
*.cbtq
*.cbtr
*.cbts
*.cbtt
*.cbtu
*.cbtv
*.cbtw
*.cbtx
*.cbtn
*.cbto
*.cbtp
*.cbtq
*.cbtr
*.cbts
*.cbtt
*.cbtu
*.cbtv
*.cbtw
*.cbtx
*.cbtn
*.cbto
*.cbtp
*.cbtq
*.cbtr
*.cbts
*.cbtt
*.cbtu
*.cbtv
*.cbtw
*.cbtx
*.cbtn
*.cbto
*.cbtp
*.cbtq
*.cbtr
*.cbts
*.cbtt
*.cbtu
*.cbtv
*.cbtw
*.cbtx
*.cbtn
*.cbto
*.cbtp
*.cbtq
*.cbtr
*.cbts
*.cbtt
*.cbtu
*.cbtv
*.cbtw
*.cbtx
*.cbtn
*.cbto
*.cbtp
*.cbtq
*.cbtr
*.cbts
*.cbtt
*.cbtu
*.cbtv
*.cbtw
*.cbtx
*.cbtn
*.cbto
*.cbtp
*.cbtq
*.cbtr
*.cbts
*.cbtt
*.cbtu
*.cbtv
*.cbtw
*.cbtx
*.cbtn
*.cbto
*.cbtp
*.cbtq
*.cbtr
*.cbts
*.cbtt
*.cbtu
*.cbtv
*.cbtw
*.cbtx
*.cbtn
*.cbto
*.cbtp
*.cbtq
*.cbtr
*.cbts
*.cbtt
*.cbtu
*.cbtv
*.cbtw
*.cbtx
*.cbtn
*.cbto
*.cbtp
*.cbtq
*.cbtr
*.cbts
*.cbtt
*.cbtu
*.cbtv
*.cbtw
*.cbtx
*.cbtn
*.cbto
*.cbtp
*.cbtq
*.cbtr
*.cbts
*.cbtt
*.cbtu
*.cbtv
*.cbtw
*.cbtx......