<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="Egy1Best Provider">
        <meta-data
            android:name="cloudstream3.plugin"
            android:value="com.egy1best.Egy1BestProvider" />
        <meta-data
            android:name="cloudstream3.provider"
            android:value="com.egy1best.Egy1BestProvider" />
    </application>

</manifest>